@charset "UTF-8";

body {
  width: 100%;
  justify-content: center;
  position: relative;
  background-image: url("backgrounds/1.png");
  margin: 0; 
  padding: 0;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
}

.header {
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0; 
}

.header a {
  text-decoration: none;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  display: block;
  padding: 1em;
}

.sidebar1 {
  width: 320px;
  height: 140px;
  justify-content: center;
  margin: 0; 
}

.sidebar2 {
  width: 320px;
  height: 170px;
  justify-content: center;
  margin: 0; 
}

.sidebar3 {
  width: 320px;
  height: 110px;
  justify-content: center;
  margin: 0; 
}

.container {
  width: 1050px;
  height: 530px;
  justify-content: center;
  margin: 0; 
}

.footer {
  height: 50px;
  justify-content: center;
  margin: 0; 
}

.flex-items {
  clear: both;
  text-align: center;
  line-height: 1;
}

table, td, th {
  border: 0px solid black;
  border-collapse: collapse;
  width: 75%;
  height: 0px;
  padding: 15px;
  vertical-align: top;
}

a {
  font-family: 'proxima-nova', serif;
}

h1 {
  font-family: 'proxima-nova', serif;
  font-size: 40px;
}

h2 {
  font-family: 'proxima-nova', serif;
}

p {
  font-family: 'proxima-nova', serif;
}