<style>
h1 {
  font: 75px Arial, sans-serif;
  color: red;
  text-shadow: 2px 2px 5px;
}

h2 {
  font: 50px Arial, sans-serif;
  color: red;
  text-shadow: 2px 2px 5px;
}

h3 {
  font: 20px Arial, sans-serif;
}

table, td, th {
  border: 0px solid black;
}

table {
  border-collapse: collapse;
  width: 75%;
}

th {
  height: 0px;
}

.container {
  position: relative;
  width: 25%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>