:root {
  --primary-background-color: #EFC700;
  --primary-text-color: #000000;
}

::selection {
  background: #000000;
  color: #EFC700;
}

::-moz-selection {
  background: #000000;
  color: #EFC700;
}

body {
background-image: url("backgrounds/3.png");
}

.header {
  background: #EFC700;
  border: 3px solid black;
}

.header a {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

a {
  color: blue;
}

.sidebar1 {
  background: #EFC700;
  border: 3px solid black;
}

.sidebar2 {
  background: #EFC700;
  border: 3px solid black;
}

.sidebar3 {
  background: #EFC700;
  border: 3px solid black;
}

.container {
  background: #EFC700;
  border: 3px solid black;
}

.footer {
  background: #EFC700;
  border: 3px solid black;
}

h1 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
  color: white;
}