@charset "UTF-8";

::selection {
  background: #000000;
  color: #FF00DC;
}

::-moz-selection {
  background: #000000;
  color: #FF00DC;
}

body {
  background-image: url("css/themes/backgrounds/7.png");
  background-color: #FF00DC;
}

.header {
  background: #FF00DC;
  border: 3px solid black;
}

.header a {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

a {
  color: blue;
}

.sidebar1 {
  background: #FF00DC;
  border: 3px solid black;
}

.sidebar2 {
  background: #FF00DC;
  border: 3px solid black;
}

.sidebar3 {
  background: #FF00DC;
  border: 3px solid black;
}

.container {
  background: #FF00DC;
  border: 3px solid black;
}

.footer {
  background: #FF00DC;
  border: 3px solid black;
}

h1 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
  color: white;
}