@charset "UTF-8";

body {
  background-image: url("backgrounds/bluebg.png");
}

::selection {
  background: #000000;
  color: #0000FF;
}

::-moz-selection {
  background: #000000;
  color: #0000FF;
}

.header {
  height: 50px;
  background: #0000FF;
  border: 3px solid black;
}

.header a {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

a {
  color: #00FFFF;
}

.left-one {
  width: 320px;
  height: 140px;
  background-image: url('backgrounds/leftbluebg.png');
  background-size: cover;
  background: #0000FF;
  border: 3px solid black;
}

.left-two {
  width: 320px;
  height: 170px;
  background: #0000FF;
  border: 3px solid black;
}

.left-three {
  width: 320px;
  height: 110px;
  background: #0000FF;
  border: 3px solid black;
}

.left-four {
  width: 320px;
  height: 55px;
  background: #0000FF;
  border: 3px solid black;
}

.container {
  background: #0000FF;
  border: 3px solid black;
}

.footer {
  height: 50px;
  background: #0000FF;
  border: 3px solid black;
}

h1 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h3 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
  color: white;
}