@charset "UTF-8";

body {
  background-image: url("backgrounds/greenbg.png");
}

::selection {
  background: #000000;
  color: #39BF00;
}

::-moz-selection {
  background: #000000;
  color: #39BF00;
}

.header {
  background: #39BF00;
  border: 3px solid black;
}

.header a {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

a {
  color: blue;
}

.left-one {
  background: #39BF00;
  border: 3px solid white;
}

.left-two {
  background: #39BF00;
  border: 3px solid white;
}

.left-three {
  background: #39BF00;
  border: 3px solid white;
}

.left-four {
  background: #39BF00;
  border: 3px solid white;
}

.container {
  background: #39BF00;
  border: 3px solid black;
}

.footer {
  background: #39BF00;
  border: 3px solid black;
}

h1 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
  color: white;
}