@charset "UTF-8";

body {
  background-image: url("backgrounds/pinkbg.png");
}

::selection {
  background: #000000;
  color: #FF00DC;
}

::-moz-selection {
  background: #000000;
  color: #FF00DC;
}

.header {
  background: #FF00DC;
  border: 3px solid black;
}

.header a {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

a {
  color: blue;
}

.leftone {
  background: #FF00DC;
  border: 3px solid white;
}

.lefttwo {
  background: #FF00DC;
  border: 3px solid white;
}

.leftthree {
  background: #FF00DC;
  border: 3px solid white;
}

.leftfour {
  background: #FF00DC;
  border: 3px solid white;
}

.container {
  background: #FF00DC;
  border: 3px solid black;
}

.footer {
  background: #FF00DC;
  border: 3px solid black;
}

h1 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
  color: white;
}