@charset "UTF-8";

body {
  background-image: url("backgrounds/whitebg.png");
}

::selection {
  background: #000000;
  color: #ffffff;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

.header {
  background: #FFFFFF;
  border: 3px solid black;
}

.header a {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

a {
  color: blue;
}

.left-one {
  width: 320px;
  height: 140px;
  background: #FFFFFF;
  border: 3px solid white;
}

.left-two {
  width: 320px;
  height: 170px;
  background: #FFFFFF;
  border: 3px solid white;
}

.left-three {
  width: 320px;
  height: 110px;
  background: #FFFFFF;
  border: 3px solid white;
}

.left-four {
  width: 320px;
  height: 50px;
  background: #FFFFFF;
  border: 3px solid white;
}

.container {
  background: #FFFFFF;
  border: 3px solid black;
}

.footer {
  background: #FFFFFF;
  border: 3px solid black;
}

h1 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2 {
  color: white;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
  color: black;
}